//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Fri 04 14 15:03:04 2023

IO_LOC "s[3]" 16;
IO_PORT "s[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "s[2]" 17;
IO_PORT "s[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "s[1]" 18;
IO_PORT "s[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "b2" 15;
IO_PORT "b2" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "b1" 14;
IO_PORT "b1" PULL_MODE=UP BANK_VCCIO=1.8;
